$btncoloronblack: #00FF00;
$btncoloronwhite: #F1C40F;
$font-1: Arial, Helvetica, sans-serif;


body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    width: 100%;
    overflow-x: hidden;
    background-color: white;

}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    .change-color-btn{
        border-radius: 50%;
        cursor: pointer;
        background-color: rgb(171, 171, 255);
        border: none;
        .imgcolor{
            width: 40px;
        }

    }
}

main{
    .container-meme{
        display:flex;
        justify-content: center;
        align-items: center;
        height: auto;
        margin-top: 40px;

        .meme-img {
            width: 300px;
            height: 300px; 
            object-fit: cover; 
            border-radius: 10px; 
        }
        
    }
    .title{
        display:flex;
        justify-content: center;
        align-items: center;
    }
    .container-counter{
        display:flex;
        justify-content: center;
        align-items: center;
        .più-btn{
            margin: 20px;
            width: 80px;
            height: 80px;
            font-size: 40px;
            cursor:pointer;
            border-radius: 50px;
            border:none;
            background-color: $btncoloronwhite;
        }
        .totale{
            font-size: 40px;
        }
        .meno-btn{
            margin: 20px;
            width: 80px;
            height: 80px;
            font-size: 40px;
            cursor: pointer;
            border-radius: 50px;
            border:none;
            background-color: $btncoloronwhite;
        }
    }
    .container-reset{
        display:flex;
        justify-content: center;
        align-items: center;
        .reset-btn{
            margin: 20px;
            width: auto;
            height: 70px;
            font-size: 40px;
            cursor: pointer;
            border: none;
            border-radius: 70px;
            background-color: $btncoloronwhite;
        }
    }
}

@media (max-width: 820px) {
    main{
        .container-meme{
            .meme-img {
                width: 200px;
                height: 200px; 
            }
            
        }
        .title{
            font-size:30px ;
        }
    }

}